<h2>Group A</h2>
{{#each groupA as |team|}}
<div ="card" style="width: 18rem;">
  <div class="card-header">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> <img src="/images/{{team.image}}" class="flag" alt="{{team.name}}"> {{team.name}}</li>
  </ul>
</div>
{{/each}}
<h2>Group B</h2>
{{#each groupB as |team|}}
<div ="card" style="width: 18rem;">
  <div class="card-header">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> <img src="/images/{{team.image}}" class="flag" alt="{{team.name}}"> {{team.name}}</li>
  </ul>
</div>
{{/each}}
<h2>Group C</h2>
{{#each groupC as |team|}}
<div ="card" style="width: 18rem;">
  <div class="card-header">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> <img src="/images/{{team.image}}" class="flag" alt="{{team.name}}"> {{team.name}}</li>
  </ul>
</div>
{{/each}}
<h2>Group D</h2>
{{#each groupD as |team|}}
<div ="card" style="width: 18rem;">
  <div class="card-header">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> <img src="/images/{{team.image}}" class="flag" alt="{{team.name}}"> {{team.name}}</li>
  </ul>
</div>
{{/each}}
<h2>Group E</h2>
{{#each groupE as |team|}}
<div ="card" style="width: 18rem;">
  <div class="card-header">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> <img src="/images/{{team.image}}" class="flag" alt="{{team.name}}"> {{team.name}}</li>
  </ul>
</div>
{{/each}}
<h2>Group F</h2>
{{#each groupF as |team|}}
<div ="card" style="width: 18rem;">
  <div class="card-header">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> <img src="/images/{{team.image}}" class="flag" alt="{{team.name}}"> {{team.name}}</li>
  </ul>
</div>
{{/each}}
<h2>Group F</h2>
{{#each groupF as |team|}}
<div ="card" style="width: 18rem;">
  <div class="card-header">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> <img src="/images/{{team.image}}" class="flag" alt="{{team.name}}"> {{team.name}}</li>
  </ul>
</div>
{{/each}}
<h2>Group H</h2>
{{#each groupH as |team|}}
<div ="card" style="width: 18rem;">
  <div class="card-header">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> <img src="/images/{{team.image}}" class="flag" alt="{{team.name}}"> {{team.name}}</li>
  </ul>
</div>
{{/each}}