<div class="container">
  <div class="row ">
    <div class="col border-10 group-card">
      <h2 class="text-center" class="text-center">Group A</h2>
      {{#each groupA as |team|}}
      <div="card" style="width: 18rem;">

        <ul class="list-group list-group-flush">
          <a href="/country/{{team.id}}">
            <li class="list-group-item"> <img src="/images/{{team.image}}" class="flag" alt="{{team.name}}">
              {{team.name}}
            </li>
          </a>
        </ul>
        {{/each}}
    </div>



    <div class="col group-card">
      <h2 class="text-center" class="text-center">Group B</h2>
      {{#each groupB as |team|}}
      <div="card" style="width: 18rem;">

        <ul class="list-group list-group-flush">
          <a href="/country/{{team.id}}">
            <li class="list-group-item"> <img src="/images/{{team.image}}" class="flag" alt="{{team.name}}">
              {{team.name}}
            </li>
          </a>
        </ul>
        {{/each}}
    </div>


    <div class="col group-card">
      <h2 class="text-center" class="text-center">Group C</h2>
      {{#each groupC as |team|}}
      <div="card" style="width: 18rem;">

        <ul class="list-group list-group-flush">
          <a href="/country/{{team.id}}">
            <li class="list-group-item"> <img src="/images/{{team.image}}" class="flag" alt="{{team.name}}">
              {{team.name}}
            </li>
          </a>
        </ul>
        {{/each}}
    </div>


    <div class="col group-card">
      <h2 class="text-center">Group D</h2>
      {{#each groupD as |team|}}
      <div="card" style="width: 18rem;">

        <ul class="list-group list-group-flush">
          <a href="/country/{{team.id}}">
            <li class="list-group-item"> <img src="/images/{{team.image}}" class="flag" alt="{{team.name}}">
              {{team.name}}
            </li>
          </a>
        </ul>
        {{/each}}
    </div>
  </div>


  <div class="row">
    <div class="col group-card">
      <h2 class="text-center">Group E</h2>
      {{#each groupE as |team|}}
      <div="card" style="width: 18rem;">

        <ul class="list-group list-group-flush">
          <a href="/country/{{team.id}}">
            <li class="list-group-item"> <img src="/images/{{team.image}}" class="flag" alt="{{team.name}}">
              {{team.name}}
            </li>
          </a>
        </ul>
        {{/each}}
    </div>






    <div class="col group-card">
      <h2 class="text-center">Group F</h2>
      {{#each groupF as |team|}}
      <div="card">

        <ul class="list-group list-group-flush">
          <a href="/country/{{team.id}}">
            <li class="list-group-item"> <img src="/images/{{team.image}}" class="flag" alt="{{team.name}}">
              {{team.name}}
            </li>
          </a>
        </ul>
        {{/each}}
    </div>


    <div class="col group-card">
      <h2 class="text-center">Group G</h2>
      {{#each groupG as |team|}}
      <div="card" style="width: 18rem;">

        <ul class="list-group list-group-flush">
          <a href="/country/{{team.id}}">
            <li class="list-group-item"> <img src="/images/{{team.image}}" class="flag" alt="{{team.name}}">
              {{team.name}}
            </li>
          </a>
        </ul>
        {{/each}}
    </div>


    <div class="col group-card">
      <h2 class="text-center">Group H</h2>
      {{#each groupH as |team|}}
      <div="card" style="width: 18rem;">

        <ul class="list-group list-group-flush">
          <a href="/country/{{team.id}}">
            <li class="list-group-item"> <img src="/images/{{team.image}}" class="flag" alt="{{team.name}}">
              {{team.name}}
            </li>
          </a>
        </ul>
        {{/each}}
    </div>
  </div>
</div>

 <h3>Comments:</h3>
  {{#each comments as |comment|}}
<p>{{comment.comment_text}}</p>
{{/each}}


{{#if logged_in}}
<div>
<form id="commentBar">
  <div class="form-group">
    <label for="commentBar">Leave a Comment</label>
    <input type="text" class="form-control" id="commentText" placeholder="Comment">
  </div>
    <div class="form-group">
    <label for="commentBar">About what Team</label>
    <input type="text" class="form-control" id="commentTeam" placeholder="Team">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{{/if}}
<script src="/javascript/commentAdd.js"></script>
