
{{!-- <div class="card">
    <h5 class="card-header">{{team.name}}</h5>
    <div class="card-body">
    <img src="/images/{{team.image}}" alt="{{team.name}}" class="flag-bio">
      <h5 class="card-title">{{team.name}}</h5>
      <ul>
        <li>Nations Capital: {{team.capital}}</li>
        <li>World Ranking: {{team.fifa_ranking}}</li>
        <li>Group: {{team.group_letter}}</li>
        <li>World Cup Triumphs: {{team.times_won}}</li>
        <li>Star Player: {{team.star_player}}</li>
      </ul>
  </div>

  </div> --}}



  
    <h3 class="card-header">{{team.name}}</h3>
     <div class="single-country">
    <div class="card-body">
    <img src="/images/{{team.image}}" alt="{{team.name}}" class="flag-bio">
    </div>
    <div class="card-body country-card">
     <h5 class="card-title">{{team.name}}</h5>
      <ul>
        <li>Nations Capital: {{team.capital}}</li>
        <li>World Ranking: {{team.fifa_ranking}}</li>
        <li>Group: {{team.group_letter}}</li>
        <li>World Cup Triumphs: {{team.times_won}}</li>
        <li>Star Player: {{team.star_player}}</li>
      </ul>
  </div>
     </div>

     {{>add-comments}}

