<div class="card">
    <ul>
        <li>{{dreamteam.Gk}}</li>
        <li>{{dreamteam.Rb}}</li>
        <li>{{dreamteam.Cb1}}</li>
        <li>{{dreamteam.Cb2}}</li>
        <li>{{dreamteam.Lb}}</li>
        <li>{{dreamteam.Rw}}</li>
        <li>{{dreamteam.Cm1}}</li>
        <li>{{dreamteam.Cm2}}</li>
        <li>{{dreamteam.Lw}}</li>
        <li>{{dreamteam.St1}}</li>
        <li>{{dreamteam.St2}}</li>
    </ul>
</div>

<form id="deleteBar">
  <div class="form-group">
  </div>
  <button type="submit" id={{dreamteam.id}} class="btn btn-primary deleteButton">Delete</button>
</form>

  <script src="/javascript/delete.js"></script>