{{!-- background image --}}
<div class="soccer">
  {{!--4-4-2 formation  --}}
  <main class="soccer-formation">
    <div class="pitch">
      <h4>{{username}}'s Dream Team</h4>
        <div class="container">
        <div class="box1">
          <div class="pen1">
            <div class="pos" style="margin: 5px 15px;">{{dreamteam.Gk}}</div>
          </div>
        </div>
        <div class="pos" style="margin: 65px 53px">{{dreamteam.Rb}}</div>
        <div class="pos" style="margin: 65px 126px;">{{dreamteam.Cb2}}</div>
        <div class="pos" style="margin: 65px 186px;">{{dreamteam.Cb1}}</div>
        <div class="pos" style="margin: 65px 258px">{{dreamteam.Lb}}</div>

        <div class="pos" style="margin: 185px 258px">{{dreamteam.Lw}}</div>
        <div class="pos" style="margin: 185px 126px">{{dreamteam.Cm1}}</div>
        <div class="pos" style="margin: 185px 186px">{{dreamteam.Cm2}}</div>
        <div class="pos" style="margin: 185px 53px">{{dreamteam.Rw}} </div>

        <div class="pos" style="margin: 320px 126px">{{dreamteam.St2}}</div>
        <div class="pos" style="margin: 320px 186px;">{{dreamteam.St1}}</div>


        <div class="half"></div>
        <div class="box2">
          <div class="pen2"></div>
        </div>
      </div>
    </div>
  </main>

</div>

<form id="deleteBar">
  <div class="form-group">
  </div>
  <button type="submit" id={{dreamteam.id}} class="btn btn-primary deleteButton">Delete</button>
</form>


<script src="/javascript/delete.js"></script>

